:root {
    --bs-primary-rgb: 26,26,48;
    --bs-dark-bg-subtle: #ECB539;
    --bs-warning-rgb: 251,239,213;
}

.nav-link {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 50%;
    height: 50%;
}

.burger {
    margin-left: 30%;
}

.slogan {
    width: 58vw;
    margin-top: 20%;
}

.meet {
    margin-left: 35%;
}

#header {
    background-image: url(../images/Header.png);
    background-position: center;
    background-size: cover;
    height: 40vh;
}

.card {
    height: 100%;
}

.card-w {
    width: 106%;
}

.card-p {
    margin-left: 7%;
}

.card-icon {
    height: 30%;
    width: 30%;
}

.icon-pm {
    padding-top: 3px;
    height: 20%;
    width: 30%;
}

.socmed {
    height: 45%;
}

/* about */

#header-a {
    background-image: url(../images/About\ -\ Header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    margin-top: 20px;
    padding-top: 10px;
}

.team {
    height: 30vh;
}

.p3 {
    height: 17vh;
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    .logo {
        height: 15vh;
    }
    
    .slogan {
        width: 35vw;
    }
    
    #header {
        background-image: url(../images/Header.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .d-flex {
        height: 60vh;
    }
    
    #process-image {
        background-image: url(../images/The\ Process.png);
        background-position: center;
        background-size: cover;
    }
}

